/*
===============================================
#1 BASE STYLES
===============================================
*/
@font-face {
    font-family: 'Ancient Modern Tales';
    src: url('/fonts/Ancient-Modern-Tales.woff2') format('woff2'),
        url('/fonts/Ancient-Modern-Tales.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url("paper_baby_blue_bg.png");
}

h4 {
    font-family: "Ancient Modern Tales";
    letter-spacing: 16px;
    color: #925D25;
    font-size: 45px;
    padding-left: 30px;
    margin-bottom: 30px;
}

h5 {
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    margin:0;
}

p {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.5px;
    line-height: 18px;
    max-width: 600px;
}

/*
===============================================
#2 LAYOUT STYLES
===============================================
*/

img {
    max-width: 100%;
    max-height: 100%;
}

.feature-image {
    position: fixed;
    top:300px;
    right:12%;
    max-width: 300px;
    pointer-events: none;
}
@media (max-width: 900px) {
    .feature-image {
        display: none;
    }
}

.feature-image-about{
    position:relative;
    padding-left: 50px;
    padding-bottom: 50px;
}

.portrait{
    position: relative;
    padding-left: 20px;
}

.blob-about{
    position:absolute;
    z-index: 2;
    transform: scale(1.3) translateY(-30px);
}

.grid-container {
    display: grid;
    gap: 15px;
    margin-top: 50px;
    margin-bottom: 10px;
    grid-template-columns: minmax(200px, 900px);
    /* search MDN docs for "minmax" to make the page
    responsive to window size*/
}

.grid-square-template {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.grid-row-template {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
}

.grid-row-template-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
}

.grid-list-template {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
}

.grid-square-template img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contact-art {
    margin-left: 9%;
}

/*
===============================================
STATE STYLES
===============================================
*/

.artworks-link {
    color:#925D25;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}
.artworks-link:visited {
    color:blue;
}
.artworks-link:hover {
    color: black; 
}

.menu-links {
    display:flex;
    padding: 5px;
    margin-bottom: 100px;
    font-size: 20px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    gap:30px;
    list-style:none;
    flex-wrap: wrap;
}
.menu-links a:link {
    text-decoration: none;
}
.menu-links a:visited {
    color:black;
}
.menu-links a:hover {
    color:#925D25;
}
.menu-links a:active {
    color:lime;
}

/* 
The four links states are:

    a:link - a normal, unvisited link
    a:visited - a link the user has visited
    a:hover - a link when the user mouses over it
    a:active - a link the moment it is clicked

    note: the order is important! memorize.

*/

@media screen and (max-width:500px) {
    .links {
        display: block;
    }

    .links li {
        display: block;
    }
}